/*
Set Width and Border
*/
.container{
  max-width: 1000px;
  margin: 0 auto;
  background-color: lightblue;
}
  img{
    width: 100%;
}


h1{
  color: white;
  
}

nav ul{
  list-style: none;
  background-color: bisque;
  margin: 0px;
}

nav ul li{
  display: inline-block;
  width:33%;
  padding: 1em;
  box-sizing: border-box;
  border-right: 1px solid black;
  
}


nav ul a {
  display: block;
  text-decoration: none;
  color: black;
  text-align: center;

}

nav{
  text-align: center;
}

.small{
  width: 150px;
  float: left;
  padding: 0 10px 15px 10px;
}

footer{
  float: right;
}











