/*
Set Width and Border
*/
.container{
    width: 900px;
    /* Center Container */
    margin: 0 auto;
  }

  a{
    display:inline-block;
    background-color: lightgray;
    width: 300PX;
    height: 50PX;
    text-align: center;
    margin:0PX;
    

  }

