.container{
  max-width: 1000px;
  margin: 0 auto;
  background-color: #aad4cf;
}

body{
  background-color: lightblue;
  
}

.img{
  background: grey url(../images/lone-starfish-wide.jpg) no-repeat center;
  background-size: cover;
  font-size: 2rem;
  padding: 3.5em;
  text-align: center;
}







h1{
  color: white;
  
}

nav ul{
  list-style: none;
  background-color: bisque;
  margin: 0px;
}

nav ul li{
  display: inline-block;
  width:33%;
  padding: 1em;
  box-sizing: border-box;
  border-right: 1px solid black;
  
}


nav ul a {
  display: block;
  text-decoration: none;
  color: black;
  text-align: center;

}

nav{
  text-align: center;
}

.small{
  width: 150px;
  float: left;
  padding: 0 10px 15px 0px;
}



main{
  margin: 20px;
}

footer{
  margin: 0 40px 0 0 ;
  position: relative;
  margin-left: 85%;
  
  
}


h1{
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}











